* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    user-select: none;
    font-family: sans-serif;
}

.expression {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: row;
    gap: 5px;

    & label {
        display: flex;
        flex-direction: column;

        .expression-input{
            height: 30px;
            padding: 3px;
        }
    }
    & button{
        align-self: flex-end;
        height: 30px;
    }
}

.legend {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .item {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;

        .line {
            width: 20px;
            height: 5px;
            border-radius: 5px;
        }

        .expr {
            font-family: math, sans-serif;
        }
    }
}
